<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuf.demo.business.filecenter.mapper.FileInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yuf.demo.business.filecenter.entity.FileInfo">
                    <id column="id" property="id"/>
                    <result column="file_name" property="fileName"/>
                    <result column="original_name" property="originalName"/>
                    <result column="busi_type" property="busiType"/>
                    <result column="file_size" property="fileSize"/>
                    <result column="full_path" property="fullPath"/>
                    <result column="upload_time" property="uploadTime"/>
                    <result column="business_id" property="businessId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, file_name, original_name, busi_type, file_size, full_path, upload_time, business_id
        </sql>
    <delete id="delFileByFullPath"></delete>
    <select id="getUselessIds" resultType="java.lang.String"></select>
    <select id="getFullPath" resultType="java.lang.String"></select>

</mapper>
